@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@1,700&display=swap');

 * {

	margin: 0;

}

body {
    background: rgb(221, 219, 219);
    font-family: 'Lato', sans-serif;
}
/* Estilos pára el heading bar*/

#imgLogo {
    width: 80px;
    height: 60px;
}

#imgBus {
    width: 190px;
    height: 60px;
}

#flex1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
}

#info2 {
    margin-top: 3cm;
}



/* Stylos para el carrusel Daniel S*/
.carrusel{
    position: relative;
    height: 300px;
    width: 80%;
    margin: 0 auto; 
}

.carrusel__track-container {
    background-color: transparent;
    
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    
}

.carrusel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
    
}

.carrusel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carrusel__image {    
    width: 50%; 
    height: 100%;
    object-fit: cover;
}

.pruebaboton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
}
.pruebaboton h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.carrusel__button {
    font-size: 50px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
}

.carrusel__button--left {
    right: -30px;
}

.carrusel__button--right {
    
    left: -30px;
}

#extraInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}

#info2 {
    display: flex;
    flex-direction: row;
    width: 90%;
}

#parrafo1 {
    margin-left: 10%;
    width: 700px;
    padding: 12px;
    padding-top: 20px;
    background-color: black;
    color: white;
}

#parrafo1_0 {
    font-size: large;
    
    background-color: #312e2e;
    color: white;
    margin: 1%;
    padding: 1%;
}

/* ///// Planea tu viaje /////// */

#notengomascreatividad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-15%);
}

#map {
    width: auto;
    
}